# Items to ignore when downloading a zip
.gitignore export-ignore
/.vscode/ export-ignore
/client/ export-ignore
/dependencies/build/composer.json export-ignore
/dependencies/build/composer.lock export-ignore
/dependencies/composer.json export-ignore
/dependencies/composer.lock export-ignore
/dependencies/scoper.inc.php export-ignore
/languages/*.pot export-ignore
/languages/*.po export-ignore
/node_modules/ export-ignore
/package/ export-ignore
/phpunit/ export-ignore
/vendor/ export-ignore
/.eslintignore export-ignore
/.eslintrc.js export-ignore
/.gitattributes export-ignore
/.prettierrc.js export-ignore
/.stylelintrc.json export-ignore
/.wp-env.json export-ignore
/babel.config.js export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/jsconfig.json export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpcs.xml.dist export-ignore
/phpunit.xml.dist export-ignore
/postcss.config.js export-ignore
/tsconfig.json export-ignore
/webpack.config.js export-ignore
